.DS_STORE

*.log
# Include when developing application packages.
pubspec.lock
.c9
.idea/
.devcontainer/*
!.devcontainer/README.md
!.devcontainer/recommended-devcontainer.json
!.devcontainer/recommended-Dockerfile
.settings/
.vscode/launch.json
.vscode/settings.json
.vscode/tasks.json
*.swo
modules/.settings
modules/.vscode
.vimrc
.nvimrc

# Don't check in secret files
.env
*.env

*.key
**/*.key
**/elasticsearch.key
*/elasticsearch.key
config/elasticsearch/elasticsearch.key

*.crt
**/elasticsearch.crt
*/elasticsearch.crt
config/elasticsearch/elasticsearch.crt

*.keystore
**/*.keystore
config/elasticsearch/elasticsearch.keystore


*license.json
**/license.json
config/license/license.json



/config/ssl/docker-cluster-ca.zip